{% include 'head.html' %}
{% block Detail %}
    <br>
    <br>
    {% block Banner %}
        <div class="alert alert-light" role="alert">
        <div class="alert alert-light" role="alert">
            <div class="alert alert-light" role="alert">
                <div class="container-fluid" style="text-align: center">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                     src="../media/ArticleImg/2019/05/14/Abstract-1.jpg"
                                     alt="First slide"
                                     height="500">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4>img-first</h4>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="../media/ArticleImg/2019/05/14/Abstract-2.jpg"
                                     alt="Second slide"
                                     height="500">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4>img-second</h4>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="../media/ArticleImg/2019/05/14/Abstract-3.jpg"
                                     alt="Third slide"
                                     height="500">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4>img-third</h4>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block Massage %}
        <div class="jumbotron container">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">旅游</p>
            <hr class="my-4">
            <p>
                古老，是清迈小城的标志，尤其在四方古城内，每一处角落都折射出浓郁的佛教文化气息；除了一座座金光闪闪的寺庙，古城内还有不少餐厅、咖啡馆与绿叶葱茏的花园。想要领略清迈古城的魅力，双脚是最好的交通工具。
                这篇文章为旅行者安排了两条古城漫步线路，第一条尽览古城精华寺庙与文化地标，另外一条线路途经不少网红餐厅与当地市集。对于时间充裕的旅行者，不妨花上1-2天，沿着文章中的推荐线路，深入感受古城的韵味。
                线路一：遍访古迹精华
                对于时间较紧凑的旅行者来说，以寺庙古迹为主的精华线路是首选。线路以帕辛寺为起点，途径契迪龙寺、盼道寺和清曼寺，这四座庙宇堪称古城寺庙之旅的核心；对清迈历史，尤其兰纳文化感兴趣的旅行者，一定不能错过三王纪念碑广场旁的兰纳博物馆，以及与之相连的另外两座博物馆，它们均位于古城的核心位置。
                线路还会经过口碑不错的餐厅和人气按摩店，供旅行者疲惫之余用餐和休憩。
                图：清迈古城漫步线路一。by 马蜂窝攻略编辑部
                不计入景点的参观时间，走完这条以精华古迹为主的线路，用时大约在2.5-3小时左右。
                第1站—帕辛寺
                必去寺庙、香火旺
                帕辛寺是清迈香火最旺的佛寺，供奉着清迈最受欢迎的佛像Phra Singh，寺内还有为外国游客开设的冥想课程，旅行者可以在佛堂中静坐，感受宁静。
                另外，每年4月泼水节期间，帕辛寺是清迈庆祝节日的主要地点之一。
                图：帕辛寺。 by 李先森_lxm

                帕辛寺
                ·清迈规模最大、香火最旺的佛寺，建于14世纪，与契迪龙寺同为清迈等级最高的寺庙。 ·寺内装饰金碧辉煌，供奉着Phra Singh的佛像，殿内壁画以当地古代服饰和风俗为内容，被认为是泰国北部传统艺术的代表作。
                ·寺内还有为外国游客开设的冥想课程，可以在佛堂中静坐下来感受宁静。 ·每年4月泼水节期间，这里是清迈庆祝节日的主要地点之一。

                第2站—契迪龙寺
                必去寺庙、规模大
                契迪龙寺也被称为大佛塔寺，是清迈市内六大寺庙中最大的一座，与帕辛寺同为清迈等级最高的寺庙。古佛塔一面修有台阶，其他三面皆为斜坡，游客不能登塔，但寺庙前的“辩经桌”周围，游客络绎不绝。
                图：契迪龙寺外观。

                契迪龙寺
                ·又称大佛塔寺，始建于1411年，是清迈市内六大寺庙中最大的寺庙，与帕辛寺同为清迈等级最高的寺庙。
                ·寺庙属于典型兰纳（古泰族王朝）风格建筑，由主殿、小佛殿、僧房组成，寺庙门口点缀着蛇和孔雀的装饰，进入内部能看到巨大的佛像。
                ·大佛塔是寺内最古老的建筑，1545年清迈大地震后，佛塔的尖顶一夜之间塌毁，所以现在所见的佛塔为平顶。
                ·古佛塔只有一面修有台阶，其他三面皆为斜坡，游客不能登塔；进入大殿时必须脱鞋，不要直接对着佛像拍照，不要穿着裸露四肢的服装。

                第3站—盼道寺
                祈福圣地、点灯仪式
                盼道寺是清迈唯一的全柚木寺庙，殿内摆放着八尊著名的“星期佛”，周三分为白天和晚上两尊，旅行者可以根据自己生日的星期找到对应的佛祈求保佑。
                每年11月的水灯节，僧侣们会诵经、点烛，放水灯和天灯，场面绝美而壮观。
                图：天灯节期间的盼道寺。 by 馮花夫司机

                盼道寺
                ·盼道寺位于大佛塔寺对面，有超过280年的历史，Phan Tao的意思是1000个火炉，因为这里曾经是铸佛场而得名。 ·寺庙大殿全柚木建造，十分精美，陈列着古老的寺钟、陶瓷制品和佛经，都值得细细品赏。
                ·殿内摆放着八尊著名的“星期佛”，每尊佛掌握一天，周三还分为白天和晚上两尊。蜂蜂可以根据自己生日的星期找到对应的佛祈求保佑。
                ·每年11月的水灯节，盼道寺还有盛大的祈福仪式，僧侣们会诵经、点亮烛台，放水灯、放天灯，场面绝美壮观。

                第4站—清曼寺
                拍照圣地
                清曼寺是清迈最古老的寺庙，最有名的建筑是由15只大象承载的金色塔。清曼寺内部装饰精美华丽，外部环境静谧唯美，仿佛一座花园，是古城内拍摄旅游纪念照的最佳取景点之一。
                图：清曼寺。 by 小A

                清曼寺
                ·又称昌挽寺，建于1300年，是清迈的第一座寺庙，也是清迈最古老的寺庙。其中最具特色的15只大象承载的塔。
                ·寺中有两座兰纳式僧院，较大的在1920年曾重修过，佛坛前有一尊造于1465年的立佛，是目前为止清迈发现最早的佛像。 ·较小的僧院中有两座非常珍贵的佛像Phra Sila与Phra Sea Tang
                Khamani，两尊佛像都是具有造雨的神力，每年泼水节庆祝仪式中被信徒抬起参与到游行队伍中。 ·寺庙不大，短时间就可以逛完，也没有很多游客，是一个非常安静的地方。

                第5站—兰纳博物馆
                解读兰纳文化
                兰纳民俗博物馆是一栋白色的两层小楼，曾是清迈中心法院的原址，泰式建筑的代表作。展出了很多兰纳时期的艺术品和文物，想要了解这段历史，这座博物馆是必打卡地。
                图：兰纳民俗博物馆。 by Vevila_L

                兰纳民俗博物馆
                兰纳民俗博物馆位于古城内，三王纪念碑对面，展示了诸多关于兰纳民间文化的图片及实物资料。学生通票80泰铢，可同时参观民俗博物馆、历史博物馆及建筑博物馆等三个场馆。

                第6站—三王纪念碑
                古城地标
                三王纪念碑就位于兰纳博物馆的正前方，为了纪念兰纳历史上最重要的三个国王：兰甘亨大帝、孟莱王和南蒙王，他们是清迈的缔造者，深受百姓爱戴，至今仍有当地人前来祭拜。
                图：三王纪念碑 by cheukman
                第7站：清迈市立艺术文化中心和第8站：清迈历史博物馆紧连着兰纳博物馆，更加深入地展现了清迈的城市人文与历史风貌，参观时建议购买通票（180泰铢）一同游览三座博物馆，并领取专门的中文版导览手册，注意馆内不允许拍照。

                三王纪念碑
                三王纪念碑位于清迈文化中心的正前方，是著名的三王雕像，为纪念三位对清迈有重大贡献的人物：兰甘亨大帝、孟莱王和南蒙王并立，他们是兰纳历史上最重要的三个北方泰国和老挝国王。塑像也成了当地居民朝圣的地方。当地人在塑像脚下献上鲜花，点燃香烛，祈求三王的英灵能送来福祉。
                前往纪念碑前的祭坛祭拜时需脱鞋，不要随意玩弄祭坛上的贡品。

                第9站— Kow Soy Siri Soy
                泰式家常菜、海南鸡饭
                Kow Soy Siri Soy是一家人气颇高的泰国家常菜馆，在古城的中心位置，距离很多热门景点只需步行几分钟。海南鸡饭是这里的招牌菜，餐厅在一座小花园内，对于步行感到疲惫的旅行者来说，也是不错的休息场所。
                图； Kow Soy Siri Soy餐厅内部。

                Kow Soy Siri Soy
            </p>
        </div>
    {% endblock %}
{% endblock %}
{% include 'foot.html' %}