<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div class="alert alert-dark " role="alert">
    <div class="container">
        <hr/>
        <p>© 2019 ????.???? 京ICP备11015476号 京公网安备11010502013401号 京ICP证110318号违法和不良信息<br/>举报电话: 010-59222790 举报邮箱:
            ????@????.com
        </p>
        <p>
            网络出版服务许可证：(总)网出证(京)字第161号增值电信业务经营许可证：京B2-20180228 营业执照帮助中心
            <br/>???客服：国内4006-345-678海外 +86-10-5922-2799
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>