{% include 'head.html' %}

<br>
{% block JumBotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
{% endblock %}
{% block  Card %}
    <div class="container">
        <div class="card-deck">
            {% for hotNew in hotNews %}
                <div class="card">
                    <img class="card-img-top"
                         src="../media/{{ hotNew.news_img }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ hotNew.news_title }}</h5>
                        <p class="card-text">{{ hotNew.summary }}</p>
                        <br>
                        <p class="card-text">
                        <p class="text-left">
                            <a href="http://127.0.0.1:8000/detailnews/{{ hotNew.url }}.html"
                               class="btn btn-primary">查看全文</a>
                        </p>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
<br>
{% block NewsTitle %}
    <div class="container">
        {% for otherNew in otherNews %}
            <div class="media">
                <img class="align-self-center mr-3" style="height: 64px; width: 64px;"
                     src="../media/{{ otherNew.news_img }}"
                     alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{ otherNew.news_title }}</h5>
                    <p>{{ otherNew.summary }}</p>
                    <p class="text-left">
                        <a href="http://127.0.0.1:8000/detailnews/{{ otherNew.url }}.html"
                           class="btn btn-primary">查看全文</a>
                    </p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
{% include 'foot.html' %}