<div class="container">
    <div class="row">
        <div class="d-inline p-2">
            <select data-placeholder="Choose a Country..." class="select" tabindex="1">
                <p class="text-primary">
                    <option value="" class="select">请选择省></option>
                </p>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Aland Islands">Aland Islands</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
            </select>
        </div>
        <div class="d-inline p-2">
            <select data-placeholder="Choose a Country..." class="select" tabindex="1">
                <option value="" class="select">请选择市</option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Aland Islands">Aland Islands</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
            </select>
        </div>
        <div class="d-inline p-2">
            <select data-placeholder="Choose a Country..." class="select" tabindex="1">
                <option value="" class="select">请选择区</option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Afghanistan">Afghanistan</option>
                <option value="Aland Islands">Aland Islands</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
            </select>
        </div>
        <div class="d-inline p-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</div>

