{% include 'head.html' %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="logo.jpg" width="200px" height="100px" class="d-inline-block align-top " alt="" style="float: left">

  </a>
</nav>




		<div class="jumbotron" style="background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1558843122&di=3246202a2825ff1f29268b83864bbde1&imgtype=jpg&er=1&src=http%3A%2F%2Fdown1.sucaitianxia.net%2Fpsd02%2Fpsd172%2Fpsds33345.jpg) no-repeat center ;   background-size: cover;height: 400px; width: 100% ">

			<div class="container"  style="height: 200px;width: 400px">
    <form action="/sign_in_user" method="post" >
       {% csrf_token %}
		<div >
<div class="form-group row">
    <label for="username" class="col-sm-3 col-form-label" >用户名</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username"><br/><br/>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-3 col-form-label">密码</label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="password" placeholder="密码" name="password"><br/><br/>
    </div>
  </div>
			  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
  </div>
</form>

	  </div>






<script type="text/javascript">
    username={{ check_username }};
    password={{ check_password }};
    window.onload= function(){
        if (username==0){
            alert("该用户名不存在");
        }
        if (password==0){
            alert("密码错误");
        }
    }
</script>
		</div>


{% include 'foot.html' %}